@font-face {
  font-family: 'Fontin';
  font-style: normal;
  font-weight: 300;
  src: './assets/Fontin-Regular.ttf';
}

@font-face {
  font-family: 'Fontin-Mac';
  font-style: normal;
  font-weight: 300;
  src: './assets/Fontin-Regular.otf';
}

body {
  background-color: #100607;
  background-image: url(./assets/Path_of_Exile_Wallpaper_1.jpg);
  background-size: contain;
}

button,
select {
  font-family: 'Fontin, Fontin-Mac';
  color: #cec59f;
  background-color: #78360d;
  border-color: #cec59f;
  border-radius: 7px;
}

input,
option {
  font-family: 'Fontin, Fontin-Mac';
  color: #100607;
  background-color: #cec59f;
  border-radius: 7px;
}

option:checked,
option:hover {
  background-color: #100607;
  color: #cec59f;
}

ul {
  display: block;
  text-align: left;
  list-style-type: none;
  justify-content: flex-start;
  font-size: 12pt;
}

p {
  font-size: 12pt;
}

hr {
  border-color: #78360d;
  border-width: 2px;
  width: 100%;
}

.App {
  text-align: left;
  margin-top: 115px;
  font-family: 'Fontin';
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 14pt;
  color: #afaaa2;
  padding: 15px;
  background-blend-mode: darken;
}

.App::after {
  content: '';
  background: linear-gradient(#100607, #000000);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.Appname {
  position: absolute;
  top: 25px;
}

.highlight {
  color: #ebe1b6;
}

.replybox {
  width: 75%;
}

.fileready {
  background-color: #6d6a65;
  border-color: #6d6a65;
}

.tiny {
  font-size: 10pt;
}

.disabled {
  display: none;
}

.warning {
  color: #ffffff;
}

.imprint {
  background: linear-gradient(#100607, #000000);
}

.cover {
  content: '';
  background: linear-gradient(#100607, #000000);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 800px;
  position: relative;
}

.row {
  display: block;
}

.rightbtn {
  position: fixed;
  right: 10px;
  margin-top: 5px;
}

.donatebtn {
  background-color: #27800d;
  color: #ffffff;
  position: fixed;
  right: 10px;
  top: 135px;
}
